<div class="main">
  <h1>The Fall Market of Eistendor</h1>
  <h2>What would you like to buy today?</h2>

  <label for="addItemInput">Item</label>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value, newStock.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput" />

  <label for="addQuantityInput">Stock</label>

  <input
    #newStock
    placeholder="add quantity"
    (keyup.enter)="addItem(newItem.value, newStock.value); newItem.value = ''"
    class="lg-text-input"
    id="addQuantityInput" />

  <button class="btn-primary" (click)="addItem(newItem.value, newStock.value)">Add</button>

  <ul>
    <li *ngFor="let item of items">{{item.description}}, {{item.quantity}}</li>
  </ul>
</div>
