<div class="main">
  <h1>The Fall Market of Eistendor</h1>
  <h2>The Witches' Delight!</h2>
  <h3>All the ingredients for your jinxes and curses!</h3>

  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>

  <label for="addItemInput">Item</label>

  <input
    #item
    placeholder="add an item"
    (keyup.enter)="addItem(item.value, stock.value, price.value, owner.value); item.value = ''"
    class="lg-text-input"
    id="addItemInput" />

  <label for="addQuantityInput">Stock</label>

  <input
    #stock
    placeholder="add quantity"
    (keyup.enter)="addItem(item.value, stock.value, price.value, owner.value); item.value = ''"
    class="lg-text-input"
    id="addQuantityInput" />

  <label for="addPriceInput">Price</label>

  <input
    #price
    placeholder="add price"
    (keyup.enter)="addItem(item.value, stock.value, price.value, owner.value); item.value = ''"
    class="lg-text-input"
    id="addPriceInput" />


  <label for="addOwnerInput">Stock</label>

  <input
    #owner
    placeholder="add owner"
    (keyup.enter)="addItem(item.value, stock.value, price.value, owner.value); item.value = ''"
    class="lg-text-input"
    id="addOwnerInput" />


  <button class="btn-primary" (click)="addItem(item.value, stock.value, price.value, owner.value)">Add</button>
</div>
